
$font-primary:"PT Mono", sans-serif;
$font-secondary:"Roboto", sans-serif;

$font-sizeTitle: 4em;
$font-weightTitle: 500;

$color-white:#fff;
$color-coral: #f1dd7b;
$color-flame:#e4572e;
$color-shiny:#4ca866;
$color-blueFrance:#3c91e6;
$color-black:#000;